:root {
    --mobile-width: 600px;
}
.theme-dark {
    /* Main */
    --background-color: #161616;
    --text-clr: #b8b8b8;
    --warning-color: rgb(157, 0, 0);
    /* Buttons */
    --button-clr: var(--text-clr);
    --button-hover-clr: #383838;
    --button-text-clr: var(--background-color);
    /* Labels */
    --label-width: 100px;
    /* Selects */
    --select-background-color: var(--top-nav-background-color);
    --option-clr: var(--select-background-color);
    /* Checkboxes */
    --checkbox-background-color: var(--select-background-color);
    --checkbox-checked-background-color: #656565;
    /* Grid */
    --column-width: 280px;
    --panel-background-color: var(--site-nav-background-clr);
    --card-background-color: var(--site-nav-background-clr);
    /* Navigations */
    --site-nav-background-clr: #222222;
    --site-nav-font-clr: #b8b8b8;
    --top-nav-background-color: #383838;
    --nav-hover-color: #b8b8b8;
    --nav-inactive-text-color: var(--text-clr);
    /* Tables */
    --table-odd-row-color: #434343;
    --table-even-row-color: #383838;
    --table-header-color: #2d2d2d;
}
.theme-light {
    /* Main */
    --background-color: #ffffff;
    --text-clr: #000000;
    --warning-color: rgb(255, 41, 41);
    /* Buttons */
    --button-clr: var(--text-clr);
    --button-hover-clr: #656565;
    --button-text-clr: var(--background-color);
    /* Labels */
    --label-width: 100px;
    /* Selects */
    --select-background-color: var(--top-nav-background-color);
    --option-clr: var(--select-background-color);
    /* Checkboxes */
    --checkbox-background-color: var(--select-background-color);
    --checkbox-checked-background-color: #656565;
    /* Grid */
    --column-width: 280px;
    --panel-background-color: var(--site-nav-background-clr);
    --card-background-color: var(--top-nav-background-color);
    /* Navigations */
    --site-nav-background-clr: #c6c6c6;
    --site-nav-font-clr: #b8b8b8;
    --top-nav-background-color: #f1f1f1;
    --nav-hover-color: #b8b8b8;
    --nav-inactive-text-color: var(--text-clr);
    /* Tables */
    --table-odd-row-color: #e2e2e2;
    --table-even-row-color: #f1f1f1;
    --table-header-color: #a9a9a9;
}