/* ------------------------ 
        Radio Group
------------------------- */
.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    background-color: var(--radio-group-background-color);
    padding: 10px;
    border-radius: 15px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 0.5rem;
    max-width: 300px;
}
.radio-group :checked + span {
    display: block;
    background-color: var(--option-clr);
    color: var(--text-clr);
    border: var(--button-clr) 5px solid;
    min-width: 30px !important;
    min-height: 30px !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.checkbox {
    display: none;
}
.radio-group :not(:checked) + span {
    display: block;
    background-color: var(--option-clr);
    color: var(--text-clr);
    border: var(--option-clr) 5px solid;
    min-width: 30px !important;
    min-height: 30px !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.radio-group span {
    cursor: pointer;
    /* padding-top: 10px; */
    border-radius: 10px;
    background-color: var(--option-clr);
    vertical-align: middle;
}
.radio-group input {
    cursor: pointer;
}
.radio-group label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* ------------------ 
  Custom Checkboxes
------------------- */
.checkbox-group-container {
    display: flex;
    flex-direction: row;
}

.custom-checkbox-container {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;    
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    background-color: var(--option-clr);
    border: var(--option-clr) 5px solid !important;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.custom-checkbox-container label {
    font-size: 14px;
    word-wrap: normal;
    max-width: 60px;
    text-align: center;
    cursor: pointer;
    color: var(--text-clr);
}
.custom-checkbox-container span {
    font-size: 20px;
    color: var(--text-clr);
}
.checkbox-group-container button {
    font-size: 14px;
    min-width: 50px;
    max-width: 50px;
    color: var(--text-clr);
    border: none;
    padding: 5px;
    margin: 3px;
    background-color: var(--background-color);
    cursor: pointer;
    border-radius: 10px;
}
.checkbox-group-container button:hover{
    background-color: var(--button-hover-clr);
}
.checked {
    border: var(--button-clr) 5px solid !important;
}
.button-checkall {
    height: 53px;
    background-color: var(--button-clr) !important;
    color: var(--button-text-clr) !important;
}