@import "constants.css";

*
{
    font-family: "quicksand", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    height: 100%;
}
main {
	box-sizing: border-box;
    height: 100%;
    margin: 20px;
    margin-top: 100px;
    color: var(--text-clr);
}
.coming-soon {
    cursor: not-allowed;
}
.restore-defaults {
    margin-left: 2px;
    cursor: pointer;
}
.visible {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: display 0.1s, opacity 0.5s linear;
    height: fit-content;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.75s linear, display 1s;
    height: 10px;
}
.expanded {
    display: flex !important;
}
.collapsed {
    display: none !important;
}
.definition {
    text-decoration: dotted underline;
}
.warning-emoji {
    font-size: xx-large;
    margin: 1rem;
}
#mobile-warning {
    background-color: var(--warning-color);
    border-radius: 30px;
    padding: 2rem;
}
.fa-download {
    cursor: pointer;
}
.h2 {
    scroll-margin-top: calc(80px + 1rem);
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.fa-hashtag {
    cursor: pointer;
    margin-right: 0.75rem;
}
main a:link {
    color: var(--href-not-visited);
    /* font-weight: bold; */
}
main a:visited {
    color: var(--href-visited);
    /* font-weight: bold; */
}
/* ---------
    Flexbox
------------ */
.user-inputs {
    display: block;
    left: 0;
    height: 100%;
    max-width: 250px;
    margin-top: 80px;
    background-color: var(--panel-background-color);
    border-right: 1px solid grey;
}
.flex-parent {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}
.generator-parameter {
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
}
.generator-parameter-header {
    width: 100%;
}

.generator-parameter-span {
    width: 100%;
}
.flexbox-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
}
.tippy-define {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-style: italic;
}
.tippy-box a:link, .tippy-box a:visited {
    color: var(--button-text-clr);
}
/* -----------
     Sliders 
-------------- */
.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
    gap: 10px;
}
.slider-container .slider-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
}
.slider-container .slider-number {
    width: 40px;
}
.slider-container .slider {
    width: 100px;
}

@media only screen and (max-width: 1250px){
    main {
        margin-top: 160px;
    }
}