/* ==================================== 
                Theme
==================================== */
:root {
    --mobile-width: 600px;
}
.theme-dark {
    --background-color: #161616;
    --text-clr: #b8b8b8;
    --warning-color: #9d0000;
    --button-clr: var(--text-clr);
    --button-hover-clr: #383838;
    --button-text-clr: var(--background-color);
    --label-width: 100px;
    --select-background-color: var(--top-nav-background-color);
    --option-clr: var(--select-background-color);
    --checkbox-background-color: var(--select-background-color);
    --checkbox-checked-background-color: #656565;
    --column-width: 280px;
    --panel-background-color: var(--site-nav-background-clr);
    --card-background-color: var(--site-nav-background-clr);
    --site-nav-background-clr: #222;
    --site-nav-font-clr: #b8b8b8;
    --top-nav-background-color: #383838;
    --nav-hover-color: #b8b8b8;
    --nav-inactive-text-color: var(--text-clr);
    --table-odd-row-color: #434343;
    --table-even-row-color: #383838;
    --table-header-color: #2d2d2d;
    --href-not-visited: #0080ff;
    --href-visited: #7c29c9;
    --blah: #34323;
}
.theme-light {
    --background-color: #fff;
    --text-clr: #000;
    --warning-color: #ff2929;
    --button-clr: var(--text-clr);
    --button-hover-clr: #656565;
    --button-text-clr: var(--background-color);
    --label-width: 100px;
    --select-background-color: var(--top-nav-background-color);
    --option-clr: var(--select-background-color);
    --checkbox-background-color: var(--select-background-color);
    --checkbox-checked-background-color: #656565;
    --column-width: 280px;
    --panel-background-color: var(--site-nav-background-clr);
    --card-background-color: var(--top-nav-background-color);
    --site-nav-background-clr: #c6c6c6;
    --site-nav-font-clr: #b8b8b8;
    --top-nav-background-color: #f1f1f1;
    --nav-hover-color: #b8b8b8;
    --nav-inactive-text-color: var(--text-clr);
    --table-odd-row-color: #e2e2e2;
    --table-even-row-color: #f1f1f1;
    --table-header-color: #a9a9a9;
    --href-not-visited: #06c;
    --href-visited: #551a8b;
}
/* ==================================== 
              Buttons
==================================== */
.plus-minus-button {
    height: 25px;
    width: 25px;
    background-color: var(--button-clr);
    border: 0;
    color: var(--button-text-clr);
    cursor: pointer;
    font-size: larger;
}
.plus-minus-button:hover {
    background-color: var(--button-hover-clr);
}
.button {
    padding: 15px 45px;
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    border: 0;
    background-color: var(--button-clr);
    color: #fff;
    border-radius: 10px;
    min-width: 225px;
    cursor: pointer;
    color: var(--button-text-clr);
}
.button:hover {
    background-color: var(--button-hover-clr);
}
.table-button {
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    border: 0;
    background-color: var(--button-clr);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    color: var(--button-text-clr);
}
.table-button:hover {
    background-color: var(--button-hover-clr);
}
.button-container {
    text-align: center;
    align-items: center;
}
/* ==================================== 
               Fieldset
==================================== */
.fieldset-button {
    padding: 5px 15px;
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    border: 0;
    background-color: var(--button-clr);
    color: #fff;
    border-radius: 10px;
    min-width: 150px;
    cursor: pointer;
    color: var(--button-text-clr);
}
.fieldset-button:hover {
    background-color: var(--button-hover-clr);
}
.kofi {
    background-color: #29abe0;
    font-weight: bold;
    border-radius: 40px !important;
}
.kofi:hover {
    background-color: #1f82a9;
}
.patreon {
    background-color: #fb664e;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px !important;
}
.patreon:hover {
    background-color: #be4c3b;
}
.kofi-logo {
    height: 40px;
    width: 50px;
}
.patreon-logo {
    height: 40px;
    width: 30px;
}
.button-flex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 1rem;
    color: white;
}
.button-flex .button {
    border-radius: 70px !important;
}
.download {
    max-width: 5rem !important;
    padding: 1rem;
    min-width: 0;
    margin: 0;
}
/* ==================================== 
                Modal
==================================== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: var(--select-background-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 25px;
    width: fit-content;
}
.modal-content-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    color: var(--text-clr);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* ==================================== 
              Page Nav
==================================== */
.site-nav {
    display: flex;
    top: 0;
    height: 40px;
    align-items: center;
    vertical-align: middle;
    align-items: middle;
    color: var(--site-nav-font-clr);
    position: fixed;
    overflow: hidden;
    background-color: var(--site-nav-background-clr);
    width: 100%;
    z-index: 1;
}
.site-nav .fa-solid,
.site-nav .fa-regular {
    margin-right: 5px;
}
.site-nav a {
    height: 25px;
    padding: 10px;
    top: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--nav-inactive-text-color);
}
.site-nav .site-button-active {
    background-color: var(--top-nav-background-color);
    color: var(--text-clr);
}
.site-nav .site-button:hover {
    background-color: var(--nav-hover-color);
    color: var(--button-text-clr);
}
.site-nav .version-number {
    float: right;
}
.site-nav .site-button-under-construction {
    cursor: not-allowed;
    opacity: 40%;
}
.right {
    float: right;
    order: 2;
    margin-left: auto;
}
.right-last {
    float: right;
    order: 3;
    margin-left: auto;
}
/* ==================================== 
             Sub-page Nav
==================================== */
.sub-nav {
    background-color: var(--top-nav-background-color);
    overflow: hidden;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 40px;
    margin: 0 !important;
    height: 40px;
    display: flex;
    align-items: middle;
    justify-content: right;
}
.sub-nav .sub-nav-version-number:hover {
    color: var(--button-text-clr) !important;
    background-color: var(--top-nav-background-color);
}
.sub-nav .nav-a {
    float: right;
    color: var(--nav-inactive-text-color);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    height: 40px;
}
.sub-nav a:hover {
    background-color: var(--nav-hover-color);
    color: black;
}
.sub-nav a.active {
    background-color: var(--background-color);
    color: var(--text-clr);
}
.sub-nav a.split {
    float: right;
    color: white;
}
.sub-nav .fa-solid,
.sub-nav .fa-brands {
    margin-right: 5px;
}
@media only screen and (max-width: 1250px) {
    .site-nav a span,
    .sub-nav a span {
        display: none;
    }
    .site-nav a,
    .sub-nav a {
        padding: 0.75rem;
        font-size: x-large;
        height: 50px !important;
        width: 30px;
    }
    .site-nav,
    .sub-nav {
        height: 70px;
    }
    .sub-nav {
        top: 70px;
    }
    .site-nav .fa-solid,
    .sub-nav .fa-solid {
        margin: 0;
    }
    .site-button,
    .site-button-active,
    .site-button-under-construction,
    .nav-a {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 500px) {
    .site-nav a span,
    .sub-nav a span {
        display: none;
    }
    .site-nav a,
    .sub-nav a {
        padding: 0.75rem;
        font-size: large;
        height: 40px !important;
        width: 25px;
    }
    .site-nav,
    .sub-nav {
        height: 60px;
        overflow-x: auto;
    }
    .sub-nav {
        top: 60px;
    }
    .site-nav .fa-solid,
    .sub-nav .fa-solid {
        margin: 0;
    }
    .site-button,
    .site-button-active,
    .site-button-under-construction,
    .nav-a {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        flex-direction: column;
        align-items: center;
    }
}

.container {
    left: 0;
    margin-top: -45px;
    background-color: var(--panel-background-color);
    width: 300px;
    height: 100%;
    border-right: 1px grey solid;
    position: fixed;
}
.bi-question-square {
    margin-right: 4px;
}
.side-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
    flex-wrap: nowrap;
    margin-top: 10px;
    justify-content: start;
    top: 70px;
    padding: 10px;
    height: 100%;
    position: fixed;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: var(--panel-background-color);
    border-right: 1px solid var(--text-clr);
}
.side-panel .fieldset-content {
    width: 280px;
    color: var(--text-clr);
    font-size: small;
}
.select-container .select-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
    font-size: medium;
}
#total-probs-div {
    display: block;
    height: 500px;
    overflow-y: auto;
    margin-bottom: 15px;
}
.legend {
    font-size: large;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 20px;
    z-index: 1;
}
.legend .terrain-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 14.28%;
    min-height: 80px;
    max-width: 100px;
}
.legend .terrain-label {
    font-size: small;
    width: fit-content;
    text-align: center;
}
.legend .terrain-color {
    height: 40px;
    width: 40px;
    border-color: #fff;
    border-radius: 20px !important;
}
.user-options {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    columns: 5;
    column-gap: 20px;
    flex-wrap: nowrap;
    margin-top: 10px;
    justify-content: center;
    margin-left: 300px !important;
    height: max-content;
}
.closed {
    transition: all 0.5s;
    display: inline-block;
    transform: rotate(180deg) !important;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: display 0.1s, opacity 0.75s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.75s, opacity 0.75s linear, display 1s;
}
.user-options-container {
    border: 0;
}
.user-options-container .fieldset-content {
    width: 280px;
    color: var(--text-clr);
}
.user-options-container .fieldset-legend {
    cursor: pointer;
    font-size: x-large;
    text-decoration: underline;
    color: var(--text-clr);
}
.user-options-container .fieldset-legend .fa-caret-down {
    transition: all 0.5s;
    display: inline-block;
}
.fieldset-label {
    font-size: large;
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
    margin-right: 10px;
    color: var(--text-clr);
}
.select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
    gap: 10px;
}
.select-container .select-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
}
.select-container .select-dropdown {
    width: fit-content;
    width: 150px;
    background: var(--select-background-color);
    color: var(--text-clr);
    border: 0;
    border-radius: 5px;
    padding: 3px;
}
.select-dropdown option {
    background: var(--select-background-color);
    color: var(--text-clr);
    padding-left: 3px;
}
.radio-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
    gap: 10px;
}
.radio-input-container .radio-input-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
}
.radio-input-container .radio-input {
    width: fit-content;
    min-width: 150px;
}
.number-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
}
.number-input-container .number-input-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
    margin-right: 10px;
}
.number-input-container .number-input {
    width: fit-content;
    max-width: 45px;
    border: 0;
    text-align: center;
    background-color: var(--select-background-color);
    color: var(--text-clr);
}
.number-input-container input::-webkit-outer-spin-button,
.number-input-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.number-input-container input[type="number"] {
    -moz-appearance: textfield;
}
.text-display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
    gap: 10px;
}
.text-display-container .text-display-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
}
.text-display-container .text-display {
    width: fit-content;
    max-width: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}
.text-display-container .text-display .text-display-type {
    font-size: smaller;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
    gap: 10px;
}
.checkbox-container .checkbox-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: left;
}
.checkbox-container .checkbox {
    width: fit-content;
    max-width: 75px;
}
.checkbox-container .line-width-select {
    height: 20px;
}
.checkbox-container .line-width-select-label {
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center !important;
}
.text-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
    gap: 10px;
}
.text-input-container .text-input-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
    font-size: medium;
}
.text-input-container .text-input {
    width: fit-content;
    max-width: 150px;
    background-color: var(--select-background-color);
    border: 0;
    padding-left: 4px;
    color: var(--text-clr);
    height: 25px;
}
.panel-button {
    padding: 15px 45px;
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    border: 0;
    background-color: var(--button-clr);
    color: #fff;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    color: var(--button-text-clr);
}
.panel-button:hover {
    background-color: var(--button-hover-clr);
}
/* ==================================== 
            Custom Radio Group
==================================== */
.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    background-color: var(--radio-group-background-color);
    padding: 10px;
    border-radius: 15px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 0.5rem;
    max-width: 300px;
}
.radio-group :checked + span {
    display: block;
    background-color: var(--option-clr);
    color: var(--text-clr);
    border: var(--button-clr) 5px solid;
    min-width: 30px !important;
    min-height: 30px !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.checkbox {
    display: none;
}
.radio-group :not(:checked) + span {
    display: block;
    background-color: var(--option-clr);
    color: var(--text-clr);
    border: var(--option-clr) 5px solid;
    min-width: 30px !important;
    min-height: 30px !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.radio-group span {
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--option-clr);
    vertical-align: middle;
}
.radio-group input {
    cursor: pointer;
}
.radio-group label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* ==================================== 
         Custom Checkbox Group
==================================== */
.checkbox-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.custom-checkbox-container {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    background-color: var(--option-clr);
    border: var(--option-clr) 5px solid !important;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.custom-checkbox-container label {
    font-size: 14px;
    word-wrap: normal;
    max-width: 60px;
    text-align: center;
    cursor: pointer;
    color: var(--text-clr);
}
.custom-checkbox-container span {
    font-size: 20px;
    color: var(--text-clr);
}
.checkbox-group-container button {
    font-size: 14px;
    min-width: 50px;
    max-width: 50px;
    color: var(--text-clr);
    border: 0;
    padding: 5px;
    margin: 3px;
    background-color: var(--background-color);
    cursor: pointer;
    border-radius: 10px;
}
.checkbox-group-container button:hover {
    background-color: var(--button-hover-clr);
}
.checked {
    border: var(--button-clr) 5px solid !important;
}
.button-checkall {
    height: 53px;
    background-color: var(--button-clr) !important;
    color: var(--button-text-clr) !important;
}
/* ==================================== 
                Flex 
==================================== */
.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: middle;
    text-align: center;
}
.flex-column-child p {
    max-width: 30rem;
    margin: 0 auto;
}
.flex-column-child p ol {
    margin: 0 auto;
}
.flex-column-child h2 {
    margin-bottom: 1rem;
}
.flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: middle;
    text-align: center;
}
.flex-card {
    background-color: var(--card-background-color);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
/* ==================================== 
        Aspect -- To be removed
==================================== */
.aspect {
    min-width: 280px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border-radius: 30px;
}
.aspect-inputs {
    min-height: 245px !important;
}
.aspect-property {
    margin-top: 5px;
    display: flex;
    vertical-align: middle;
    column-gap: 5px;
    width: 100%;
}
.aspect-legend {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    color: var(--text-clr);
    margin-bottom: 10px;
}
.aspect-property-reroll {
    padding: 3px;
    color: var(--text-clr);
}
.aspect-property-label {
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    color: var(--text-clr);
}
.aspect-property-label-appearance {
    font-weight: bold;
    display: inline-block;
    width: 95px;
    text-align: right;
    color: var(--text-clr);
}
.aspect-property-select {
    min-width: 150px !important;
    max-width: 150px;
    overflow: auto;
    max-height: 25px;
    background: var(--select-background-color);
    color: var(--text-clr);
    border: 0;
    border-radius: 5px;
    padding: 3px;
}
.aspect-property-input {
    min-width: 145px !important;
    max-width: 145px;
    overflow: auto;
    max-height: 25px;
    background-color: var(--checkbox-background-color);
    border: 0;
    color: var(--text-clr);
    padding-left: 5px;
}
.aspect-property-text {
    font-size: smaller;
    color: var(--text-clr);
    vertical-align: middle;
    max-width: 250px;
    height: 100%;
}
.blurb {
    margin-top: 20px;
    margin-left: 50px;
}
.aspect-property-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.aspect-property-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--checkbox-background-color);
}
.aspect-property-checkbox:hover input ~ .checkmark {
    background-color: var(--button-hover-clr);
}
.aspect-property-checkbox input:checked ~ .checkmark {
    background-color: var(--checkbox-checked-background-color);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.aspect-property-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.aspect-property-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--background-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
* {
    font-family: "quicksand", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    height: 100%;
}
main {
    box-sizing: border-box;
    height: 100%;
    margin: 20px;
    margin-top: 100px;
    color: var(--text-clr);
}
.coming-soon {
    cursor: not-allowed;
}
.restore-defaults {
    margin-left: 2px;
    cursor: pointer;
}
.visible {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: display 0.1s, opacity 0.5s linear;
    height: fit-content;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.75s linear, display 1s;
    height: 10px;
}
.expanded {
    display: flex !important;
}
.collapsed {
    display: none !important;
}
.definition {
    text-decoration: dotted underline;
}
.warning-emoji {
    font-size: xx-large;
    margin: 1rem;
}
#mobile-warning {
    background-color: var(--warning-color);
    border-radius: 30px;
    padding: 2rem;
}
.fa-download {
    cursor: pointer;
}
.h2 {
    scroll-margin-top: calc(80px+1rem);
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.big-scroll-margin {
    scroll-margin-top: calc(80px+4rem);
}
.fa-hashtag {
    cursor: pointer;
    margin-right: 0.75rem;
}
main a:link {
    color: var(--href-not-visited);
}
main a:visited {
    color: var(--href-visited);
}
.user-inputs {
    display: block;
    left: 0;
    height: 100%;
    max-width: 250px;
    margin-top: 80px;
    background-color: var(--panel-background-color);
    border-right: 1px solid grey;
}
.flex-parent {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}
.generator-parameter {
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
}
.generator-parameter-header {
    width: 100%;
}
.generator-parameter-span {
    width: 100%;
}
.flexbox-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
}
.tippy-define {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-style: italic;
}
.tippy-box a:link,
.tippy-box a:visited {
    color: var(--button-text-clr);
}
.tippy-box,
.tippy-arrow {
    background-color: var(--text-clr);
    color: var(--card-background-color);
}
.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: fit-content;
    gap: 10px;
}
.slider-container .slider-label {
    display: flex;
    font-weight: bold;
    width: var(--label-width);
    justify-content: right;
}
.slider-container .slider-number {
    width: 40px;
}
.slider-container .slider {
    width: 100px;
}
@media only screen and (max-width: 1250px) {
    main {
        margin-top: 160px;
    }
}
@import "constants.css";
.fa-clone {
    cursor: pointer;
}
.fa-trash,
.fa-eye {
    cursor: pointer;
}
.encounters-table label {
    margin-right: 5px;
    font-size: small;
}
.probabilities-table {
    border-collapse: separate;
    border-spacing: 10px;
}
.probabilities-table tr {
    padding-bottom: 10px;
}
.encounters-table-row {
    color: var(--text-clr) !important;
}
.table-index {
    font-weight: bold;
    font-size: xx-large;
    margin: 5px;
}
.table-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    row-gap: 10px;
}
/* ==================================== 
              JS Grid 
==================================== */
.jsgrid-header-row .jsgrid-header-cell {
    background: var(--table-header-color) !important;
    color: var(--text-clr);
    border-color: var(--background-color);
}
.jsgrid-row .jsgrid-cell {
    background-color: var(--table-odd-row-color) !important;
    color: var(--text-clr);
    text-align: center !important;
    border-color: var(--background-color);
}
.jsgrid-alt-row .jsgrid-cell {
    background-color: var(--table-even-row-color) !important;
    color: var(--text-clr);
    text-align: center !important;
    border-color: var(--background-color);
}
.jsgrid-edit-row .jsgrid-cell {
    background-color: var(--site-nav-background-clr) !important;
    color: var(--text-clr);
    border-color: var(--background-color);
}
.jsgrid-edit-row:hover {
    background-color: var(--site-nav-background-clr) !important;
}
.jsgrid-grid-body {
    overflow-y: hidden !important;
    border-color: var(--background-color);
}
.jsgrid-grid-header {
    overflow-y: hidden !important;
    border-color: var(--background-color);
}
.jsgrid {
    margin-top: 2rem;
}
/* ==================================== 
            Styled Table
==================================== */
.styled-table {
    border-collapse: collapse;
    margin: auto 0;
    width: 100%;
    font-size: 0.9em;
    font-family: sans-serif;
    text-align: center;
    max-width: 100%;
    width: fit-content;
}
.styled-table button.table_button {
    border: 0;
    background-color: var(--light-primary);
    transition-duration: 0.3s;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.styled-table thead tr {
    background-color: var(--table-header-color);
    color: var(--text-clr);
    text-align: center;
    position: sticky;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #4d4d4d;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: var(--table-odd-row-color);
    color: var(--text-clr);
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--table-even-row-color);
    color: var(--text-clr);
}
.styled-table tbody tr:nth-of-type(even) select {
    background-color: var(--light-octonary);
    color: var(--light-text);
    border-color: var(--light-text);
}
.styled-table tbody tr:nth-of-type(odd) select {
    background-color: var(--light-quinary);
    color: var(--light-text);
    border-color: var(--light-text);
}
.styled-table tbody tr:last-of-type {
    border-bottom: 0;
}
.styled-table img {
    transition: transform 0.2s;
    width: 7.5pc;
    margin: 0 auto;
}
.styled-table img:hover {
    -ms-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5);
}
.styled-table.total-prob {
    border-right: thin solid !important;
    border-color: #fff;
    border-width: 5px !important;
}
.styled-table h2 {
    color: var(--light-octonary);
    margin-top: 0;
}
.styled-table h3 {
    color: var(--light-text);
}
.styled-table tbody h2 {
    color: var(--light-text);
}
.styled-table tbody a {
    color: var(--light-denary) !important;
    font-style: italic;
}
.aspect-legend {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    color: var(--text-clr);
    margin-bottom: 10px;
}
.history-container {
    background-color: var(--card-background-color);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.history {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.history td {
    text-align: center;
    width: fit-content;
}
.history li {
    margin-left: 30px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* ==================================== 
           Theme Switcher
==================================== */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0;
    bottom: 4px;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0 15px #2020203d;
    font-size: small;
    background: var(--text-clr) url("/mikitz-ttrpg/img/icons/moon-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
}
input:checked + .slider {
    background-color: var(--button-text-clr);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--button-text-clr);
}
input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: var(--button-text-clr)
        url("/mikitz-ttrpg/img/icons/sun-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    font-size: small !important;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
@media only screen and (max-width: 1250px) {
    .container-switch {
        top: 20px;
    }
}
