.arctic-icon {
    color: #93e7fb;
}
.desert-icon {
    color: #edc9af;
}
.forest-icon {
    color: #228B22;
}
.grassland-icon {
    color: #567d46;
}
.hill-icon {
    color: #567d46;
}
.jungle-icon {
    color: #013220;
}
.mountain-icon {
    color: #3a3232;
}
.openwater-icon {
    color: #09C3DB;
}
.swamp-icon {
    color: #52641D;
}
.underdark-icon {
    color: #301934;
}
.underwater-icon {
    color: #003C5F;
}
.wasteland-icon {
    color: #1e193c;
}
.woodland-icon {
    color: #00FF00;
}