@import "constants.css";
/* ------------
    Site Nav
-------------*/
.site-nav {
  display: flex;
  top: 0;
  height: 40px;
  align-items: center;
  vertical-align: middle;
  align-items: middle;
  color: var(--site-nav-font-clr);
  position: fixed;
  overflow: hidden;
  /* min-width: 500px; */
  background-color: var(--site-nav-background-clr);
  width: 100%;
  z-index: 1;
}
.site-nav .fa-solid, .site-nav .fa-regular {
  margin-right: 5px;
}
.site-nav a {
  height: 25px;
  padding: 10px;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--nav-inactive-text-color);
}
.site-nav .site-button-active {
  background-color: var(--top-nav-background-color);
  color: var(--text-clr);
}
.site-nav .site-button:hover {
  background-color: var(--nav-hover-color);
  color: var(--button-text-clr);
}
.site-nav .version-number {
  float: right;
}
.site-nav .site-button-under-construction {
  cursor: not-allowed;
  opacity: 40%;

}
.right {
  float: right;
  order: 2;
  margin-left: auto;
}
.right-last {
  float: right;
  order: 3;
  margin-left: auto;
}
/* ------------------
    Top Navigation
--------------------- */
/* Add a black background color to the top navigation */
.sub-nav {
    background-color: var(--top-nav-background-color);
    overflow: hidden;
    z-index: 1;
    /* min-width: 500px; */
    position: fixed;
    width: 100%;
    top: 40px;
    margin: 0px !important;
    height: 40px;
    display: flex;
    align-items: middle;
    justify-content: right;
    /* border-bottom: solid var(--text-clr) 1px; */
    
  }
  .sub-nav .sub-nav-version-number:hover {
    color: var(--button-text-clr) !important;
    background-color: var(--top-nav-background-color);
  }
  /* Style the links inside the navigation bar */
  .sub-nav .nav-a {
    float: right;
    color: var(--nav-inactive-text-color);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    height: 40px;
  }
  /* Change the color of links on hover */
  .sub-nav a:hover {
    background-color: var(--nav-hover-color);
    color: black;
  }
  /* Add a color to the active/current link */
  .sub-nav a.active {
    background-color: var(--background-color);
    color: var(--text-clr);
  }
  .sub-nav a.split {
    float: right;
    color: white;
  }
  .sub-nav .fa-solid, .sub-nav .fa-brands {
    margin-right: 5px;
  }

  @media only screen and (max-width: 1250px) {
    /* styles for mobile devices */
    .site-nav a span, .sub-nav a span {
      display: none;
    }
    .site-nav a, .sub-nav a {
      padding: 0.75rem;
      font-size: x-large;
      height: 50px !important;
      width: 30px;
    }
    .site-nav, .sub-nav {
      height: 70px;
    }
    .sub-nav {
      top: 70px;
    }
    .site-nav .fa-solid, .sub-nav .fa-solid {
      margin: 0;
    }
    .site-button, .site-button-active, .site-button-under-construction, .nav-a {
      display: flex;
      justify-content: center;
      vertical-align: middle;
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (max-width: 500px) {
    /* styles for mobile devices */
    .site-nav a span, .sub-nav a span {
      display: none;
    }
    .site-nav a, .sub-nav a {
      padding: 0.75rem;
      font-size: large;
      height: 40px !important;
      width: 25px;
    }
    .site-nav, .sub-nav {
      height: 60px;
      overflow-x: auto;
    }
    .sub-nav {
      top: 60px;
    }
    .site-nav .fa-solid, .sub-nav .fa-solid {
      margin: 0;
    }
    .site-button, .site-button-active, .site-button-under-construction, .nav-a {
      display: flex;
      justify-content: center;
      vertical-align: middle;
      flex-direction: column;
      align-items: center;
    }
  }